<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="SHORTCUT ICON" href="http://icons.veryicon.com/png/System/Small%20%26%20Flat/heart.png" />
    <title>Happy Woman Day 8/3</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">
</head>

<body>
    <div style="width: 100%; text-align:center; padding: 0; margin: 0 height:5px;" class="animated flash click infinite"><p>Hover me!</p></div>
    <div style="z-index: 50; text-align: center;" class="text-first">
        <h1>Happy Woman Day</h1>
        <p class="p1" style="font-size: 20px;"></p>
    </div>
    <table class="fadeInRight">
        <tbody>
            <tr>
                <td><img class="animated" id="img1" src="images/hinh1.gif">
                </td>
                <td><img class="animated" id="img2" src="images/hinh2.gif"></td>
                <td><img class="animated" id="img3" src="images/hinh3.gif"></td>
                <td><img class="animated" id="img4" src="images/hinh4.gif"></td>
                <td><img class="animated" id="img5" src="images/hinh5.gif"></td>
                <td><img class="animated" id="img6" src="images/hinh6.gif"></td>
            </tr>
            <tr>
                <td><img class="animated" id="img7" src="images/hinh7.gif"></td>
                <td><img class="animated" id="img8" src="images/hinh8.gif"></td>
                <td colspan="2">
                    <iframe class="animated zoomInDown" width="100%" src="http://www.youtube.com/embed/nHK0u40Ompc?autoplay=1" frameborder="0" allowfullscreen></iframe>
                </td>
                <td><img class="animated" id="img9" src="images/hinh9.gif"></td>
                <td><img class="animated" id="img10" src="images/hinh10.gif"></td>
            </tr>
            <tr>
                <td><img class="animated" id="img11" src="images/hinh11.gif"></td>
                <td><img class="animated" id="img12" src="images/hinh12.gif"></td>
                <td><img class="animated" id="img13" src="images/hinh13.gif"></td>
                <td><img class="animated" id="img14" src="images/hinh14.gif"></td>
                <td><img class="animated" id="img15" src="images/hinh15.gif"></td>
                <td><img class="animated" id="img16" src="images/hinh16.gif" class="fadeInRight"></td>
            </tr>
        </tbody>
    </table>
    <div class="bg_heart"></div>
    Make by DMT with love
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
    <script src="javascripts/index.js"></script>
    <img src="images/3.png" style="visibility: visible; width: 20vh; height: 20vh">
</body>

</html>
