<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="SHORTCUT ICON" href="http://icons.veryicon.com/png/System/Small%20%26%20Flat/heart.png" />
    <title>Happy Woman Day 8/3</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">
</head>

<body>
    <div style="width: 100%; text-align:center; padding: 0; margin: 0 height:5px;" class="animated flash click infinite"><p>Hover me!</p></div>
    <div style="z-index: 50; text-align: center;" class="text-first">
        <h1>Happy Woman Day</h1>
        <p class="p1" style="font-size: 20px;"></p>
    </div>
    <table class="fadeInRight">
        <tbody>
            <tr>
                <td><img class="animated" id="img1" src="https://media.giphy.com/media/3oz8xwKBsHNlZ6UvMA/giphy.gif">
                </td>
                <td><img class="animated" id="img2" src="http://gifimage.net/wp-content/uploads/2017/10/cute-dancing-gif-5.gif"></td>
                <td><img class="animated" id="img3" src="http://78.media.tumblr.com/17eaa64a6848369e1eea26bb08fe8d4c/tumblr_mfzeeyMiJD1rgpyeqo1_500.gif"></td>
                <td><img class="animated" id="img4" src="https://media.giphy.com/media/93USr2t7azxvi/source.gif"></td>
                <td><img class="animated" id="img5" src="https://im-01.gifer.com/3Jn.gif"></td>
                <td><img class="animated" id="img6" src="https://media.giphy.com/media/3oz8xwKBsHNlZ6UvMA/giphy.gif"></td>
            </tr>
            <tr>
                <td><img class="animated" id="img7" src="https://data.whicdn.com/images/34548121/original.gif"></td>
                <td><img class="animated" id="img8" src="https://media.giphy.com/media/3o6ZtdXxuQ1WKPING0/giphy.gif"></td>
                <td colspan="2">
                    <iframe class="animated zoomInDown" width="100%" src="http://www.youtube.com/embed/nHK0u40Ompc?autoplay=1" frameborder="0" allowfullscreen></iframe>
                </td>
                <td><img class="animated" id="img9" src="https://media.giphy.com/media/3o6ZtdXxuQ1WKPING0/giphy.gif"></td>
                <td><img class="animated" id="img10" src="http://78.media.tumblr.com/a9a1355284b1c59aeba14802cd52d8c7/tumblr_nwkihl2Xv01rrcri6o1_500.gif"></td>
            </tr>
            <tr>
                <td><img class="animated" id="img11" src="https://media.giphy.com/media/bjE9JbNSckM0w/giphy.gif"></td>
                <td><img class="animated" id="img12" src="https://cdn53.picsart.com/181085309000202.gif?r240x240"></td>
                <td><img class="animated" id="img13" src="https://media.giphy.com/media/l0ExhgDYmserkFabm/giphy.gif"></td>
                <td><img class="animated" id="img14" src="http://media2.giphy.com/media/qUih9XjqVc0o0/giphy.gif"></td>
                <td><img class="animated" id="img15" src="http://gifimage.net/wp-content/uploads/2017/10/cute-dancing-gif-11.gif"></td>
                <td><img class="animated" id="img16" src="https://i.pinimg.com/originals/66/70/fd/6670fd61b91760bf8f04ca0479a2e0d1.gif" class="fadeInRight"></td>
            </tr>
        </tbody>
    </table>
    <div class="bg_heart"></div>
    Make by DMT with love
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
    <script src="javascripts/index.js"></script>
    <img src="images/3.png" style="visibility: visible; width: 20vh; height: 20vh">
</body>

</html>
